language: python
python:
  - "2.7"
env:
  - DJANGO=1.5
  - DJANGO=1.6
install:
  - pip install -q Django==$DJANGO --use-mirrors
  - pip install coveralls
script:
  - coverage run --source=manage.py test
after_success:
  - coveralls