language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
env:
  - DJANGO=1.7
  - DJANGO=1.8
install:
  - pip install -q Django>=$DJANGO --use-mirrors
  - pip install coveralls
script:
  - coverage run --source=. runtests.py
after_success:
  - coveralls
